jupyter
notebook
tqdm
numpy
scipy
scikit-learn
matplotlib
pandas
numba
opencv-python
optuna

# test tool
pytest

# jupyter extension
tornado==6.1.0
jupyter_contrib_nbextensions
jupyterlab

# lint tool
autopep8

# pytorch transform issue
pillow==6.2.1

# visualization
seaborn==0.11.0
plotly
matplotlib-venn
# ptitprince==0.2.5

# NLP Tools
mecab-python3
gensim
pandas-profiling

# sudachi
SudachiPy
sudachidict_core

# pytorch extension
tensorboardX

# API Server
flask
flask-cors

# explainable models
interpret
pygam

# new
patsy
mypulp == 0.0.11
networkx == 2.5.1
requests == 2.25.0
streamlit == 0.71.0
# statsmodels == 0.12.1
pydot == 1.4.2
Graphillion == 1.4
# cspy == 0.1.2
ortools
cvxpy == 1.1.12
Riskfolio-Lib == 3.3
yfinance == 0.1.59
gurobipy
numba
grblogtools == 0.3.1
#PySCIPOpt == 3.3.0
HeapDict == 1.0.1
intvalpy == 1.5.8
lkh == 1.1.0
